.ss_container
	box-sizing: border-box
	height: 70vh

	overflow-y: auto

	border: 1px solid blue
	.station_sort
		position: sticky
		top:0
		background-color: #fff
		padding-bottom: 5px
	.radioStation_btn_container
		display: flex
		flex-wrap: wrap
		justify-content: center
		gap: 5px	
	
		div
			margin-bottom: 5px
		button
			cursor: pointer
			margin-bottom: 5px
			width: 100px
			height: 100px
			padding: 5px
			img
				width: 100%
				height: auto
